@import 'tailwindcss';

@theme {
  /* MARK: - Fonts */

  --font-Inter: 'Inter';
  --font-Figma: 'TimesNewRomanCondensed';

  /* MARK: - Colors */

  --color-text-primary: #161616;
  --color-text-secondary: #a2a2a2;
  --color-text-accent: #fb5d00;

  --color-background-primary: #ffffff;
  --color-background-secondary: #fafafa;
  --color-background-accent: #fdff45;

  --color-border-primary: #e5e5e5;
  --color-border-dark: #161616;
  --color-border-accent: #fb5d00;
  --color-border-secondary: #8c8c8c;

  /* MARK: - Font-size */

  --text-header-desktop: 50px;
  --text-header-tablet: 30px;
  --text-header-mobile: 25px;
  --text-text: 16px;

  /* MARK: - Line-height */

  --leading-header-desktop: 48px;
  --leading-header-tablet: 29px;
  --leading-header-mobile: 26px;
  --leading-text: 20px;

  /* MARK: - Letter-spacing */

  --tracking-header-desktop: -1px;
  --tracking-header-tablet: -0.8px;
  --tracking-header-mobile: -0.6px;
  --tracking-text: -0.48px;

  /* MARK: - Breakpoints */

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1366px;

  /* MARK: - Gap */
  --gap-xxs-not-mobile: 3px;
  --gap-xxs-mobile: 3px;
  --gap-xs-not-mobile: 5px;
  --gap-xs-mobile: 5px;
  --gap-s-not-mobile: 20px;
  --gap-s-mobile: 16px;
  --gap-m-not-mobile: 40px;
  --gap-m-mobile: 32px;

  /* MARK: - Paddings */

  --spacing-s-not-mobile: 20px;
  --spacing-s-mobile: 16px;
  --spacing-xl-not-mobile: 124px;
  --spacing-xl-mobile: 68px;
}

html {
  max-width: 1680px;
  margin: 0 auto;
}

.custom-cursor {
  cursor:
    url('/custom-cursor.svg') 16 16,
    pointer !important;
}

@font-face {
  font-family: 'TimesNewRomanCondensed';
  src: url('/src/shared/fonts/times-new-roman-mt-condensed.otf') format('woff2');
  font-display: swap;
}

@keyframes backdropBlurIn {
  0% {
    backdrop-filter: blur(0px);
    background: rgba(247, 247, 247, 0);
  }
  100% {
    backdrop-filter: blur(24px);
    background: rgba(247, 247, 247, 0.65);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes backdropBlurOut {
  0% {
    backdrop-filter: blur(24px);
    background: rgba(247, 247, 247, 0.65);
  }
  100% {
    backdrop-filter: blur(0px);
    background: rgba(247, 247, 247, 0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-out {
  animation: slideOutRight 0.8s ease forwards;
}

.animate-backdrop-blur-out {
  animation: backdropBlurOut 0.8s ease forwards;
}

.animate-slide-in {
  animation: slideInRight 0.8s ease forwards;
}

.animate-backdrop-blur {
  animation: backdropBlurIn 0.8s ease forwards;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
