@import 'tailwindcss';

@theme {
  --font-Inter: 'Inter';
  --font-Figma: 'TimesNewRomanCondensed';
  --color-text-primary: #161616;
  --color-text-secondary: #7d7d7d;
  --color-text-accent: #fb5d00;
  --color-background-accent: #fdff45;
  --color-border-primary: #e5e5e5;

  --text-header-desktop: 50px;
  --text-header-tablet: 30px;
  --text-header-mobile: 25px;
  --text-text: 16px;

  --leading-header-desktop: 48px;
  --leading-header-tablet: 29px;
  --leading-header-mobile: 26px;
  --leading-text: 20px;

  --tracking-header-desktop: -1px;
  --tracking-header-tablet: -0.8px;
  --tracking-header-mobile: -0.6px;
  --tracking-text: -0.48px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1366px;
}

html {
  max-width: 1680px;
  margin: 0 auto;
}

.custom-cursor {
  cursor:
    url('/custom-cursor.svg') 16 16,
    pointer !important;
}

@font-face {
  font-family: 'TimesNewRomanCondensed';
  src: url('/src/shared/fonts/times-new-roman-mt-condensed.otf') format('woff2');
  font-display: swap;
}
